{
  "branches": [
    {
      "name": "main",
      "prerelease": false
    },
    {
      "name": "feature-*",
      "prerelease": true
    }
  ],
  "ci": false,
  "repositoryUrl": "git@github.com:lexfelixpost/projen.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ]
  ]
}
